.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  -moz-filter: none;
  -webkit-filter: none;
  -ms-filter: none;
  filter: none;
}

.App-header > * {
    opacity: 1;
  }

  .App-header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
    opacity: 1;
  }

.App-body.is-preload #bg:before {
  background-color: transparent;
}

.App-main article {
  opacity: 1;
  margin: 4rem 0 0 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
