.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  -moz-filter: none;
  -webkit-filter: none;
  -ms-filter: none;
  filter: none;
}

.App-header > * {
    opacity: 1;
  }

  .App-header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
    opacity: 1;
  }

.App-body.is-preload #bg:before {
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

